<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "LED Disco" %></h2>
  <p class="lead">click buttons below to interact with the world!</p>
  <button id="myButton">Disco!</button>
  <button id="myMarqueeButton">Marquee</button>
  <button id="myTestButton">Test</button>
  <button id="myRainbowButton">Rainbow</button>
  <button id="myOffButton">Turn Off</button>
</div>
